:root {
    --font-weight: 500;
    --font-interline: 1.5;
    --font-family: 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif;
    --font-nike: 'Nike Futura ND', 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif;
}

/*Importazione font esterni*/

@font-face {
    font-family: "Nike Futura ND";
    src: url("https://db.onlinewebfonts.com/t/a8d7b985e4eb8c5d34f2302ffe83e917.eot");
    src: url("https://db.onlinewebfonts.com/t/a8d7b985e4eb8c5d34f2302ffe83e917.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a8d7b985e4eb8c5d34f2302ffe83e917.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a8d7b985e4eb8c5d34f2302ffe83e917.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a8d7b985e4eb8c5d34f2302ffe83e917.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a8d7b985e4eb8c5d34f2302ffe83e917.svg#Nike Futura ND")format("svg");
}


@font-face {
    font-family: "Helvetica Now Text Medium";
    src: url(/font/HelveticaNowText-Medium.woff);
}